.d-flex {
	display: flex;
}

.d-flex-jcsb {
	justify-content: space-between;
}

.d-flex-jcc {
	justify-content: center;
}

@media (min-width: 992px) {
	.d-flex-jcsb-2 {
		justify-content: space-between;
	}
}

.d-flex-aic {
	align-items: center;
}

.d-flex-dc {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}
